@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Open Sans', sans-serif !important;
}

:root{
    --main-color: #000000;
    --second-color: rgba(0, 0, 0, 0.5);
    --third-color: #666666;
    --fourth-color: #00C0EE;
    --ton-white-1:#FFFFFF;
    --ton-white-2:#FAFAFA;
    --ton-black-1:#000000;
    --ton-black-2:#333333;
    --background-footer: #000000;
    --ton-shadowcart:#DDDDDD;
    --ton-buttoncheckout:#048604;
    --ton-scroll-1:#f1f1f1;
    --ton-scroll-2:rgba(136, 136, 136, 0.652);
    --ton-scroll-3:rgb(124, 124, 124);
    --transform-temp1: -45deg;
    --transform-temp2: 45deg;
}

.models {
    display: none;
  }

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    border: none;
}

.container{
    max-width: 1176px;
    margin:0 auto;
}

.overflow-hidden{
    overflow: hidden;
}
  
.invisible {
    display: none !important;
  }

.checkbox {
    display: inline-flex;
    position: relative;
   }
   
   input[type="checkbox"] {
     -webkit-appearance: none;
     -moz-appearance: none;
     -o-appearance: none;
     appearance: none;
   }

::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--ton-scroll-1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--ton-scroll-2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--ton-scroll-3);
  }

@media only screen and (max-width: 900px){
    .desk{
        display: none;
    }
    
    .mobile{
        display: flex;
    }
    .container{
        padding: 0 17px;
    }
}
@media only screen and (min-width: 900px){
    .desk{
        display: flex;
    }
    
    .mobile{
        display: none;
    }
}